@use "variables" as vars;
@import "typography";

.portfolioSegment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 2.5rem;
  margin: 1rem;
  overflow-y: hidden;
  transition: height .3s ease-in-out;
  opacity: 0;


  &.closed {
    opacity: 1;
    animation-name: slideUp;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;

    &:hover {
      height: 2.5rem;
    }
    
  }
    

  &.active {
    opacity: 0;
    animation-name: slideDown;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  &:hover {
    height: 100px;

    h6 {
      color: vars.$color-text;
      font-size: 2.5rem;

      &:before {
        width: 100%;
      }
    }
    // &::before {
    //   content: "";
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   width: 100vw;
    //   height: 100vh;
    //   background-color: vars.$color-background;
    //   opacity: .2;
    // }
  }

  h6 {
    @include Large;
    color: vars.$color-gray;
    width: fit-content;
    position: relative;
    transition-property: color, font-size;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;

    a {
      text-decoration: none;
      color: inherit;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 0;
      background-color: vars.$color-text;
      height: .1rem;
      border-radius: .1rem;
      transition-property: width;
      transition-timing-function: ease-in-out;
      transition-duration: .3s;
    }
  }

  p {
    @include Regular;
    color: vars.$color-text;
    max-width: 300px;
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      height: 3rem;
      margin: 1rem;
      filter: grayscale(1);
      transition: filter .3s ease-in-out;

      &:hover {
          filter: grayscale(0);
      }
    }
  }
}