---
import Layout from "../layouts/Layout.astro";
import Portfolio from "../components/portfolio.astro";
import Cursor from "../components/cursor.astro";
import Home from "../components/hero.astro";
import "../styles/main.scss";
import Socials from "../components/socials.astro";
import About from "../components/about.astro";
import Footer from "../components/footer.astro";
---

<Layout>
  <main>
    <Cursor />
    <Home />
    <Portfolio />
    <About />
    <Socials />
    <Footer />
  </main>
</Layout>

<script>
  const cursorElem = document.querySelectorAll(".cursor")[0] as HTMLDivElement;
  const portfolio = document.getElementById("portfolio");
  const about = document.getElementById("about");
  const portfolioContact = document.getElementById("portfolioContact");

  const portfolioProjects = document.querySelectorAll(
    ".portfolioSegment"
  ) as NodeListOf<HTMLDivElement>;
  const aboutP = document.querySelectorAll(
    "#about > *"
  ) as NodeListOf<HTMLDivElement>;

  cursorElem.style.display =
    /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
      window.navigator.userAgent
    )
      ? "none"
      : "block";

  const isInViewportOver = (element: any) => {
    if (element === null) return false;
    const rect = element.getBoundingClientRect();
    return (
      rect.top <=
        (window.innerHeight || document.documentElement.clientHeight) / 3 &&
      rect.bottom >=
        (window.innerHeight || document.documentElement.clientHeight) / 3
    );
  };

  const cursorPosition = (event: any): number[] => {
    const x = event.clientX;
    const y = event.clientY;

    return [x, y];
  };

  const scrollHandler = () => {
    if (isInViewportOver(portfolio)) {
      for (const elem of portfolioProjects) {
        elem.classList.remove("closed");
        void elem.offsetWidth;
        elem.classList.add("active");
      }
      portfolioContact.classList.remove("closed");
      void portfolioContact.offsetWidth;
      portfolioContact.classList.add("active");
    } else {
      for (const elem of portfolioProjects) {
        elem.classList.remove("active");
        void elem.offsetWidth;
        elem.classList.add("closed");
      }
      portfolioContact.classList.remove("active");
      void portfolioContact.offsetWidth;
      portfolioContact.classList.add("closed");
    }
    if (isInViewportOver(about)) {
      for (const elem of aboutP) {
        elem.classList.remove("closed");
        void elem.offsetWidth;
        elem.classList.add("active");
      }
    } else {
      for (const elem of aboutP) {
        elem.classList.remove("active");
        void elem.offsetWidth;
        elem.classList.add("closed");
      }
    }
  };

  const mouseMoves = (event: any) => {
    console.log("moves");
    let position = cursorPosition(event);
    cursorElem.style.top = `${position[1]}px`;
    cursorElem.style.left = `${position[0]}px`;
  };
  window.addEventListener("mousemove", mouseMoves);

  window.addEventListener("scroll", () => scrollHandler());
  window.addEventListener("load", () => scrollHandler());
</script>
