---
import Layout from "../layouts/Layout.astro";
import Portfolio from "../components/portfolio.jsx";
import Cursor from "../components/cursor.astro";
import Home from "../components/hero.astro";
import "../styles/main.scss";
---

<Layout title="Welcome to Astro.">
  <main>
    <Cursor />
    <Home />
    <Portfolio />
  </main>
</Layout>

<script>
  const cursorElem = document.querySelectorAll(".cursor")[0] as HTMLDivElement;
  const portfolio = document.getElementById("portfolio");

  const portfolioProjects = document.querySelectorAll(
    ".portfolioSegment"
  ) as NodeListOf<HTMLDivElement>;

  cursorElem.style.display =
    /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
      window.navigator.userAgent
    )
      ? "none"
      : "block";

  const isInViewportOver = (element: any) => {
    if (element === null) return false;
    const rect = element.getBoundingClientRect();
    return (
      rect.top <=
        (window.innerHeight || document.documentElement.clientHeight) / 3 &&
      rect.left >= 0 &&
      rect.bottom >=
        (window.innerHeight || document.documentElement.clientHeight) / 3 &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  };

  const cursorPosition = (event: any): number[] => {
    const x = event.clientX;
    const y = event.clientY;

    return [x, y];
  };

  const mouseMoves = (event: any) => {
    console.log("moves");
    let position = cursorPosition(event);
    cursorElem.style.top = `${position[1]}px`;
    cursorElem.style.left = `${position[0]}px`;
  };
  window.addEventListener("mousemove", mouseMoves);
  window.addEventListener("scroll", () => {
    if (isInViewportOver(portfolio)) {
      for (const elem of portfolioProjects) {
        elem.classList.remove("closed");
        void elem.offsetHeight;
        elem.classList.add("active");
      }
    } else {
      for (const elem of portfolioProjects) {
        elem.classList.remove("active");
        void elem.offsetHeight;
        elem.classList.add("closed");
      }
    }
  });
</script>
