---
import Layout from "../layouts/Layout.astro";
---

<Layout title="/uses">
  <article>
    <header>
      <h1>/uses</h1>
    </header>
    <p>
      this page describes what I use to build starting from languages and
      editors, up to monitors and the desk they sit on
    </p>
    <h2>The editors i use to code and some of the main extensions</h2>
    <ul>
      <li>
        VS Code
        <ul>
          <li>Astro, Hugo, and integrations of the other frameworks i use</li>
          <li>Code::Stats, Discord pressence</li>
          <li>Kanagawa color theme</li>
        </ul>
      </li>
      <li>
        Webstorm
        <ul>
          <li>Nextjs and .env support</li>
          <li>Code::Stats</li>
          <li>Atom One Dark theme</li>
        </ul>
      </li>
    </ul>
    <h2>Languges and frameworks i use when coding</h2>
    <ul>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>CSS</li>
      <li>SCSS</li>
      <li>Next.js</li>
      <li>React</li>
      <li>Astro</li>
      <li>Hugo</li>
    </ul>
    <h2>Other softwere/productivity tools</h2>
    <ul>
      <li>Browsers: Firefox (main), Chrome, Safari</li>
      <li>Communication: Discord, Slack, Whatsapp</li>
      <li>TODO: Height</li>
      <li>Notes: Apple notes app</li>
      <li>Design: Figma, Adobe suite</li>
    </ul>
    <h2>Hardware</h2>
    <ul>
      <li>Main workstation: M1 Macbook pro 14'</li>
      <li>
        Linux/Win workstation: mATX Desktop
        <ul>
          <li>CPU: Ryzen 5 2600X</li>
          <li>GPU: Zotac GeForce RTX 3060</li>
          <li>RAM: 16gb DDR4 2666MHz</li>
          <li>Motherboard: Gigabyte B450M S2H (ver.1)</li>
        </ul>
      </li>
      <li>
        Monitors:
        <ul>
          <li>Samsung SJ55W Ultrawide</li>
          <li>Dell S2722QC</li>
        </ul>
      </li>
      <li>Ketboard: Keychron K3</li>
      <li>Mouse: Logitech M720</li>
      <li>Desk: Black Ikea Bekant in the Rigth corner orientation</li>
      <li>Phone: POCO X3 Pro</li>
    </ul>
  </article>
</Layout>
