---
---

<section id="about" class="about">
  <header>
    <h2>Who am I?</h2>
  </header>
  <div style="transition-delay: .15s;">
    <img src="/images/Jekabs_Zarins.jpg" alt="A picture of me (Jacob Zarins)" />
    <p>
      I (Jekabs Zarins) am a front-end developer and UI/UX designer based out of
      Riga, Latvia.
    </p>
  </div>
  <h4 style="transition-delay: .3s;">Professional history</h4>
  <p style="transition-delay: .45s;">
    Ever since the last year of school, I've been working as a front-end
    developer and UI/UX designer at a company named "19 Points", working on
    internal tools and projects of different levels of complexity.
  </p>
  <h4 style="transition-delay: .6s;">My education</h4>
  <p style="transition-delay: .75s;">
    Riga Art and Media school is a high school and collage (aka. a tehnikum)
    where I finished a 4 year coarse in multi-media design, specializing in web
    design. During my studies I learned everything from basic graphic design
    principles to how to design logos and website UI's of different levels of
    complexity.
  </p>
  <a href="/CV/CV-lts.pdf">Downloda my CV</a>
</section>
