---
---

<section class="socials">
    <header>
        <h2>Let's get in touch! Check out my links:</h2>
    </header>
    <div class="links">
        <a href="https://github.com/Jacob-Branch" target="_blank"><img alt="Github logo" title="Github/Jacob-Branch" src="/tech-icons/github.svg"/></a>
        <a href="https://gitlab.com/zarins.jekabs" target="_blank"><img alt="Gitlab logo" title="Gitlab/zarins.jekabs" src="/tech-icons/gitlab.svg"/></a>
        <a href="https://www.linkedin.com/in/jekabs-zarins-139a48226/" target="_blank"><img alt="LinkeIn logo" title="LinkedIn/jekabs-zarins" src="/tech-icons/linkedin.svg"/></a>
        <a href="https://dribbble.com/JakeTheHuman" target="_blank"><img alt="Dribbble logo" title="Dribbble/JakeTheHuman" src="/tech-icons/dribbble.svg"/></a>
        <a href="mailto: zarins.jekabs@gmail.com"><img alt="Email icon" title="zarins.jekabs@gmail.com" src="/tech-icons/email.svg"/></a>
    </div>
</section>